name: DevSecOps Demo
on: [push]
permissions:
  contents: read
  packages: write

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      # 1. ESCANEO DE LIBRERÍAS (Fallará por Log4Shell)
#      - name: Dependency Check
#        run: |
#          mvn org.owasp:dependency-check-maven:check \
#          -DfailBuildOnCVSS=7

      # 2. LOGIN EN REGISTRY (Solo si pasa el scan)
      - name: Login to GitHub Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 3. BUILD Y PUSH
      - name: Build and Push
        run: |
          REPO=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          docker build -t ghcr.io/$REPO:latest .
          docker push ghcr.io/$REPO:latest
